import init.bowser.usb.rc
on init
    start watchdogd

    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

on post-fs-data
	# we will remap this as /storage/sdcard0 with the sdcard fuse tool
	mkdir /data/media 0770 media_rw media_rw
	chown media_rw media_rw /data/media
	mkdir /data/misc/wifi 0770 wifi wifi
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	mkdir /data/misc/dhcp 0770 dhcp dhcp
	chown dhcp dhcp /data/misc/dhcp
	mkdir /data/anr 0775 system system
	mkdir /data/smc 0770 drmrpc drmrpc
	chown drmrpc drmrpc /data/smc/counter.bin
	chown drmrpc drmrpc /data/smc/storage.bin
	chown drmrpc drmrpc /data/smc/system.bin
	start smc

	start gyro_cali

	mkdir /data/misc/eth 0770 eth wifi

	mkdir /data/radio 0775 radio radio
	mkdir /data/radio/log 0775 radio radio

	setprop vold.post_fs_data_done 1
on boot

# Invensense Motion Apps 5.1.4 integration - sensor file system file permissions
	chown system system /dev/iio:device0
	chown system system /sys/bus/iio/devices/trigger0/name
	chown system system /sys/bus/iio/devices/iio:device0/accl_bias
	chown system system /sys/bus/iio/devices/iio:device0/accl_enable
	chown system system /sys/bus/iio/devices/iio:device0/accl_matrix
	chown system system /sys/bus/iio/devices/iio:device0/buffer/length
	chown system system /sys/bus/iio/devices/iio:device0/buffer/enable
	chown system system /sys/bus/iio/devices/iio:device0/compass_enable
	chown system system /sys/bus/iio/devices/iio:device0/compass_matrix
	chown system system /sys/bus/iio/devices/iio:device0/display_orientation_on
	chown system system /sys/bus/iio/devices/iio:device0/dmp_event_int_on
	chown system system /sys/bus/iio/devices/iio:device0/dmp_firmware
	chown system system /sys/bus/iio/devices/iio:device0/dmp_int_on
	chown system system /sys/bus/iio/devices/iio:device0/dmp_on
	chown system system /sys/bus/iio/devices/iio:device0/dmp_output_rate
	chown system system /sys/bus/iio/devices/iio:device0/event_display_orientation
	chown system system /sys/bus/iio/devices/iio:device0/firmware_loaded
	chown system system /sys/bus/iio/devices/iio:device0/gyro_enable
	chown system system /sys/bus/iio/devices/iio:device0/gyro_matrix
	chown system system /sys/bus/iio/devices/iio:device0/in_accel_scale
	chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_scale
	chown system system /sys/bus/iio/devices/iio:device0/in_magn_scale
	chown system system /sys/bus/iio/devices/iio:device0/key
	chown system system /sys/bus/iio/devices/iio:device0/power_state
	chown system system /sys/bus/iio/devices/iio:device0/quaternion_on
	chown system system /sys/bus/iio/devices/iio:device0/sampling_frequency
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_x_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_y_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_z_en
	chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_x_calibbias
	chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_y_calibbias
	chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_z_calibbias
	chown system system /sys/bus/iio/devices/iio:device0/in_accel_x_calibbias
	chown system system /sys/bus/iio/devices/iio:device0/in_accel_y_calibbias
	chown system system /sys/bus/iio/devices/iio:device0/in_accel_z_calibbias
	chown system system /sys/bus/iio/devices/iio:device0/in_accel_x_offset
	chown system system /sys/bus/iio/devices/iio:device0/in_accel_y_offset
	chown system system /sys/bus/iio/devices/iio:device0/in_accel_z_offset
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_x_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_y_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_z_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_r_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_x_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_y_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_z_en
	chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_en
	chown system system /sys/bus/iio/devices/iio:device0/self_test
	chown system system /sys/bus/iio/devices/iio:device0/tap_on
	chown system system /sys/bus/iio/devices/iio:device0/temperature
	chown system system /sys/bus/iio/devices/iio:device0/trigger/current_trigger
	chmod 0666 /dev/iio:device0
	chmod 0644 /sys/bus/iio/devices/trigger0/name
	chmod 0644 /sys/bus/iio/devices/iio:device0/accl_bias
	chmod 0644 /sys/bus/iio/devices/iio:device0/accl_enable
	chmod 0644 /sys/bus/iio/devices/iio:device0/accl_matrix
	chmod 0644 /sys/bus/iio/devices/iio:device0/buffer/length
	chmod 0644 /sys/bus/iio/devices/iio:device0/buffer/enable
	chmod 0644 /sys/bus/iio/devices/iio:device0/compass_enable
	chmod 0644 /sys/bus/iio/devices/iio:device0/compass_matrix
	chmod 0644 /sys/bus/iio/devices/iio:device0/dmp_event_int_on
	chmod 0644 /sys/bus/iio/devices/iio:device0/dmp_firmware
	chmod 0644 /sys/bus/iio/devices/iio:device0/dmp_int_on
	chmod 0644 /sys/bus/iio/devices/iio:device0/dmp_on
	chmod 0644 /sys/bus/iio/devices/iio:device0/dmp_output_rate
	chmod 0644 /sys/bus/iio/devices/iio:device0/event_display_orientation
	chmod 0644 /sys/bus/iio/devices/iio:device0/firmware_loaded
	chmod 0644 /sys/bus/iio/devices/iio:device0/gyro_enable
	chmod 0644 /sys/bus/iio/devices/iio:device0/gyro_matrix
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_scale
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_anglvel_scale
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_magn_scale
	chmod 0644 /sys/bus/iio/devices/iio:device0/key
	chmod 0644 /sys/bus/iio/devices/iio:device0/power_state
	chmod 0644 /sys/bus/iio/devices/iio:device0/quaternion_on
	chmod 0644 /sys/bus/iio/devices/iio:device0/sampling_frequency
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_x_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_y_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_z_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_anglvel_x_calibbias
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_anglvel_y_calibbias
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_anglvel_z_calibbias
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_x_calibbias
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_y_calibbias
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_z_calibbias
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_x_offset
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_y_offset
	chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_z_offset
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_x_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_y_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_z_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_r_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_x_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_y_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_z_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_en
	chmod 0644 /sys/bus/iio/devices/iio:device0/self_test
	chmod 0644 /sys/bus/iio/devices/iio:device0/tap_on
	chmod 0644 /sys/bus/iio/devices/iio:device0/temperature
	chmod 0644 /sys/bus/iio/devices/iio:device0/trigger/current_trigger

	chmod 0644 /sys/devices/platform/omap_i2c.2/i2c-2/2-0020/input/input0/data
	chmod 0644 /sys/devices/platform/omap_i2c.2/i2c-2/2-0020/input/input0/full_pm_cycle
	chmod 0644 /sys/devices/platform/omap_i2c.2/i2c-2/2-0020/input/input0/rmidev/data
	chmod 0644 /sys/devices/platform/omap_i2c.2/i2c-2/2-0020/input/input0/0dbutton

	mount debugfs /sys/kernel/debug /sys/kernel/debug
	setprop ro.radio.noril yes
	chmod 0444 /system/usr/keychars/omap4-keypad.kcm.bin

#change permissions for backlight cabc
	chmod 0666 /sys/devices/omapdss/display0/cabc_mode
	chown media system /sys/devices/omapdss/display0/cabc_mode

# change permissions for mtd device
	chmod 0660 /dev/mtd/mtd0
	chown media media /dev/mtd/mtd0

# change permissions for i2c-2 device
	chmod 0660 /dev/i2c-2
	chown media media /dev/i2c-2

# change permissions for Tiler driver
    chmod 0777 /dev/tiler
    chmod 0777 /dev/dmm
# cpufreq interactive governor: timer 20ms, min sample 20ms, hispeed 1.5GHz
	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
	write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 20000
	write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1500000

# Boost the CPU for 30 secs during boot
	write /sys/devices/system/cpu/cpufreq/interactive/boost_timeout 30000000
	write /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq 1

# autosuspend root hubs immediatly after attached devices
#	write /sys/bus/usb/devices/usb1/power/autosuspend_delay_ms 0
#	write /sys/bus/usb/devices/usb2/power/autosuspend_delay_ms 0

# Remove the Ultra Fast Media Card Reader on EHCI bus
#	write /sys/bus/usb/devices/1-1.1/remove 1

# Set Remote wakeup flag for the two Hubs on the Tablet board
#	write /sys/bus/usb/devices/1-1/power/wakeup enabled
#	write /sys/bus/usb/devices/1-1.2/power/wakeup enabled


# wi-fi
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	mkdir /data/misc/dhcp 0770 dhcp dhcp
#	insmod /system/lib/modules/bcmdhd.ko iface_name=wlan0 firmware_path=/system/etc/wifi/firmware.bin
#	insmod /system/lib/modules/compat.ko
#	insmod /system/lib/modules/cfg80211.ko
#	insmod /system/lib/modules/mac80211.ko
#	insmod /system/lib/modules/wl12xx.ko debug_level=0x63c00

# GPS
        mkdir /data/gps 0771 system system
        chown /data/gps system system
# LBS
        mkdir /data/lbs 0771 system system
        chown /data/lbs system system

# Configure kernel parameters
	# Adjust minimum free memory space (default is 2.5M)
	write /proc/sys/vm/min_free_kbytes 16384
on fs
    mount_all /fstab.bowser
	chmod 0666 /dev/block/platform/omap_hsmmc.1/by-name/misc
	symlink    /dev/block/platform/omap_hsmmc.1/by-name/misc /misc
# Setup ZRAM swap after mounting filesystems, 64MB
        write /sys/block/zram0/disksize 67108864
        write /sys/block/zram0/reset 1
        mkswap /dev/block/zram0
        swapon /dev/block/zram0

# H264 Encoder Profile setting
# 1 - Base Profile
# 2 - Main Profile
# 8 - High Profile
	setprop video.h264enc.profile 1

# We chown/chmod /efs because mount is run as root + defaults
	chown radio radio /efs
	chmod 0775 /efs

# change /dev/hdcp owner and permission for FQC test
	chown system system /dev/hdcp
	chmod 0660 /dev/hdcp

# change permissions for Sensors
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c/enable
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c/delay
    chown system system /sys/bus/i2c/drivers/tsl2771/4-0039
    chown system system /sys/bus/i2c/drivers/tsl2771/4-0039/als_enable
    chown system system /sys/bus/i2c/drivers/tsl2771/4-0039/prox_enable
    chown system system /sys/bus/i2c/drivers/bma180_accel/4-0040
    chown system system /sys/bus/i2c/drivers/bma180_accel/4-0040/enable
    chown system system /sys/bus/i2c/drivers/bma180_accel/4-0040/delay
    chown system system /sys/bus/i2c/drivers/bmp085/4-0077
    chown system system /sys/bus/i2c/drivers/bmp085/4-0077/enable
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e/enable
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e/rate
    chown system system /sys/devices/system/proximity/proximity0/enable

#Sensor light
    chown system system /sys/class/i2c-dev/i2c-4/device/4-005a/enable

#Hall Sensor : (For FQC) change owner for bu52061 driver
    chown system system /dev/bu52061

# camera calibration - DCC folder permission
    chown media media /data/misc/camera
    chown media media /data/misc/camera/R12_MVEN001_LD1_ND0_IR0_SH0_FL0_SVEN001_DCCID43
    chown media media /data/misc/camera/R12_MVEN002_LD2_ND0_IR0_SH0_FL0_SVEN002_DCCID42
    chown media media /data/misc/camera/R8_MVEN002_LD2_ND0_IR0_SH0_FL1_SVEN003_DCCID1042

# change permissions for Bluetooth/GPS
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0660 /dev/ttyO1
    chown bluetooth bluetooth /dev/ttyO1
    chmod 0777 /proc/product_name

# change permissions for display backlight
    chown system system /sys/class/backlight/bowser/brightness

# change permissions for S3D hardware
    chown system system /sys/devices/platform/omapdss/display0/s3d_enable
    chown system system /sys/devices/platform/omapdss/display1/s3d_enable
    chown system system /sys/devices/platform/omapdss/display1/s3d_type

# change permissions for HDMI certification support, to be removed on user build
    chmod 0777 /sys/devices/platform/omapdss/display1/hdmi_timings
    chmod 0777 /sys/devices/platform/omapdss/display1/deepcolor

# Change permissions on the governor (this is for debug only)
    chmod 444 /proc/cmdline

# change the owner of product_name and product_features
   chown media media /proc/product_name
   chown media media /proc/product_name_extra
   chown media media /proc/product_features

# Change permissions on sensors HAL

    chmod 777 /dev/timerirq
    chmod 777 /dev/mpu
    chmod 777 /dev/mpuirq
    chmod 777 /dev/compassirq

# Change permissions on the charger driver
    chown system system /sys/class/power_supply/smb347_usb/device/charge_enable
    chown system system /sys/class/power_supply/smb347_usb/device/charge_current
    chown system system /sys/class/power_supply/smb347_usb/device/bad_battery
    chown system system /sys/class/power_supply/smb347_usb/device/charge_input

# Change permissions on the battery driver
    chown system system /sys/class/power_supply/bq27541/charge_full_design

# Make folder for core dump file and properly permissions
    mkdir /data/core
    chown system system /data/core
    chmod 0777 /data/core
    
    # SGX
    insmod /system/lib/modules/pvrsrvkm_sgx544_112.ko
   # insmod /system/lib/modules/omaplfb_sgx544_112.ko
    start pvrsrvinit

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core

service pvrsrvinit /system/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot
    disabled

# Wireless

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service thermal_setup /system/bin/thermal_setup.sh
	class core
	user root
	group root
	oneshot