import init.bowser-common.rc
import init.bowser.usb.rc
import init.omap4.rc

on init
    start watchdogd

    symlink /sdcard /storage/sdcard0

on boot
# Invensense Motion Apps 5.1.4 integration - sensor file system file permissions
    chown system system /dev/iio:device0
    chown system system /sys/bus/iio/devices/trigger0/name
    chown system system /sys/bus/iio/devices/iio:device0/accl_bias
    chown system system /sys/bus/iio/devices/iio:device0/accl_enable
    chown system system /sys/bus/iio/devices/iio:device0/accl_matrix
    chown system system /sys/bus/iio/devices/iio:device0/buffer/length
    chown system system /sys/bus/iio/devices/iio:device0/buffer/enable
    chown system system /sys/bus/iio/devices/iio:device0/compass_enable
    chown system system /sys/bus/iio/devices/iio:device0/compass_matrix
    chown system system /sys/bus/iio/devices/iio:device0/display_orientation_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_event_int_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_firmware
    chown system system /sys/bus/iio/devices/iio:device0/dmp_int_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_on
    chown system system /sys/bus/iio/devices/iio:device0/dmp_output_rate
    chown system system /sys/bus/iio/devices/iio:device0/event_display_orientation
    chown system system /sys/bus/iio/devices/iio:device0/firmware_loaded
    chown system system /sys/bus/iio/devices/iio:device0/gyro_enable
    chown system system /sys/bus/iio/devices/iio:device0/gyro_matrix
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_scale
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_scale
    chown system system /sys/bus/iio/devices/iio:device0/in_magn_scale
    chown system system /sys/bus/iio/devices/iio:device0/key
    chown system system /sys/bus/iio/devices/iio:device0/power_state
    chown system system /sys/bus/iio/devices/iio:device0/quaternion_on
    chown system system /sys/bus/iio/devices/iio:device0/sampling_frequency
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_x_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_y_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_z_en
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_x_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_y_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_anglvel_z_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_x_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_y_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_z_calibbias
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_x_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_y_offset
    chown system system /sys/bus/iio/devices/iio:device0/in_accel_z_offset
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_x_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_y_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_z_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_r_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_x_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_y_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_z_en
    chown system system /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_en
    chown system system /sys/bus/iio/devices/iio:device0/self_test
    chown system system /sys/bus/iio/devices/iio:device0/tap_on
    chown system system /sys/bus/iio/devices/iio:device0/temperature
    chown system system /sys/bus/iio/devices/iio:device0/trigger/current_trigger
    chmod 0666 /dev/iio:device0
    chmod 0644 /sys/bus/iio/devices/trigger0/name
    chmod 0644 /sys/bus/iio/devices/iio:device0/accl_bias
    chmod 0644 /sys/bus/iio/devices/iio:device0/accl_enable
    chmod 0644 /sys/bus/iio/devices/iio:device0/accl_matrix
    chmod 0644 /sys/bus/iio/devices/iio:device0/buffer/length
    chmod 0644 /sys/bus/iio/devices/iio:device0/buffer/enable
    chmod 0644 /sys/bus/iio/devices/iio:device0/compass_enable
    chmod 0644 /sys/bus/iio/devices/iio:device0/compass_matrix
    chmod 0644 /sys/bus/iio/devices/iio:device0/dmp_event_int_on
    chmod 0644 /sys/bus/iio/devices/iio:device0/dmp_firmware
    chmod 0644 /sys/bus/iio/devices/iio:device0/dmp_int_on
    chmod 0644 /sys/bus/iio/devices/iio:device0/dmp_on
    chmod 0644 /sys/bus/iio/devices/iio:device0/dmp_output_rate
    chmod 0644 /sys/bus/iio/devices/iio:device0/event_display_orientation
    chmod 0644 /sys/bus/iio/devices/iio:device0/firmware_loaded
    chmod 0644 /sys/bus/iio/devices/iio:device0/gyro_enable
    chmod 0644 /sys/bus/iio/devices/iio:device0/gyro_matrix
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_scale
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_anglvel_scale
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_magn_scale
    chmod 0644 /sys/bus/iio/devices/iio:device0/key
    chmod 0644 /sys/bus/iio/devices/iio:device0/power_state
    chmod 0644 /sys/bus/iio/devices/iio:device0/quaternion_on
    chmod 0644 /sys/bus/iio/devices/iio:device0/sampling_frequency
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_x_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_y_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_accel_z_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_x_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_y_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_anglvel_z_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_anglvel_x_calibbias
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_anglvel_y_calibbias
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_anglvel_z_calibbias
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_x_calibbias
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_y_calibbias
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_z_calibbias
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_x_offset
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_y_offset
    chmod 0644 /sys/bus/iio/devices/iio:device0/in_accel_z_offset
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_x_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_y_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_magn_z_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_r_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_x_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_y_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_quaternion_z_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/scan_elements/in_timestamp_en
    chmod 0644 /sys/bus/iio/devices/iio:device0/self_test
    chmod 0644 /sys/bus/iio/devices/iio:device0/tap_on
    chmod 0644 /sys/bus/iio/devices/iio:device0/temperature
    chmod 0644 /sys/bus/iio/devices/iio:device0/trigger/current_trigger

    chmod 0644 /sys/devices/platform/omap_i2c.2/i2c-2/2-0020/input/input0/data
    chmod 0644 /sys/devices/platform/omap_i2c.2/i2c-2/2-0020/input/input0/full_pm_cycle
    chmod 0644 /sys/devices/platform/omap_i2c.2/i2c-2/2-0020/input/input0/rmidev/data
    chmod 0644 /sys/devices/platform/omap_i2c.2/i2c-2/2-0020/input/input0/0dbutton

    mount debugfs /sys/kernel/debug /sys/kernel/debug
    chmod 0444 /system/usr/keychars/omap4-keypad.kcm.bin

#change permissions for backlight cabc
    chmod 0666 /sys/devices/omapdss/display0/cabc_mode
    chown media system /sys/devices/omapdss/display0/cabc_mode

# change permissions for mtd device
    chmod 0660 /dev/mtd/mtd0
    chown media media /dev/mtd/mtd0

# change permissions for i2c-2 device
    chmod 0660 /dev/i2c-2
    chown media media /dev/i2c-2

# change permissions for Tiler driver
    chmod 0777 /dev/tiler
    chmod 0777 /dev/dmm

# cpufreq interactive governor: timer 20ms, min sample 20ms, hispeed 1.5GHz
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 20000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1500000

# Boost the CPU for 30 secs during boot
    write /sys/devices/system/cpu/cpufreq/interactive/boost_timeout 30000000
    write /sys/devices/system/cpu/cpu0/cpufreq/boost_cpufreq 1

# Configure kernel parameters
    # Adjust minimum free memory space (default is 2.5M)
    write /proc/sys/vm/min_free_kbytes 16384

on fs
    chmod 0666 /dev/block/platform/omap_hsmmc.1/by-name/misc
    symlink /dev/block/platform/omap_hsmmc.1/by-name/misc /misc

on post-fs-data
    start smc

    start gyro_cali

    mkdir /data/misc/eth 0770 eth wifi

    mkdir /data/radio 0775 radio radio
    mkdir /data/radio/log 0775 radio radio

# change permissions for Sensors
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c/enable
    chown system system /sys/bus/i2c/drivers/cma3000_accl/4-001c/delay
    chown system system /sys/bus/i2c/drivers/tsl2771/4-0039
    chown system system /sys/bus/i2c/drivers/tsl2771/4-0039/als_enable
    chown system system /sys/bus/i2c/drivers/tsl2771/4-0039/prox_enable
    chown system system /sys/bus/i2c/drivers/bma180_accel/4-0040
    chown system system /sys/bus/i2c/drivers/bma180_accel/4-0040/enable
    chown system system /sys/bus/i2c/drivers/bma180_accel/4-0040/delay
    chown system system /sys/bus/i2c/drivers/bmp085/4-0077
    chown system system /sys/bus/i2c/drivers/bmp085/4-0077/enable
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e/enable
    chown system system /sys/bus/i2c/drivers/hmc5843/4-001e/rate
    chown system system /sys/devices/system/proximity/proximity0/enable

#Hall Sensor : (For FQC) change owner for bu52061 driver
    chown system system /dev/bu52061

# change permissions for display backlight
    chown system system /sys/class/backlight/bowser/brightness

# change permissions for S3D hardware
    chown system system /sys/devices/platform/omapdss/display0/s3d_enable
    chown system system /sys/devices/platform/omapdss/display1/s3d_enable
    chown system system /sys/devices/platform/omapdss/display1/s3d_type

# change permissions for HDMI certification support, to be removed on user build
    chmod 0777 /sys/devices/platform/omapdss/display1/hdmi_timings
    chmod 0777 /sys/devices/platform/omapdss/display1/deepcolor

# Change permissions on the governor (this is for debug only)
    chmod 444 /proc/cmdline

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
