/dev/ion                    0666  system    system
/dev/pvrsrvkm               0666  system    system

/dev/dsscomp                0660  system    system
/dev/tiler                  0666  system    system

/dev/rpmsg-omx0             0660  drmrpc    drmrpc
/dev/rpmsg-omx1             0660  drmrpc    drmrpc
/dev/rproc_user             0660  drmrpc    drmrpc

/sys/devices/platform/omap_i2c.2/i2c-2/2-002c/backlight/bowser  brightness  0660  system    system
